<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Form Submission</title>

</head>
<body onload="submitForm()">
<form id="loginForm" action="/auth/submitLogin" th:object="${loginRequest}" method="post">
    <input type="hidden" name="email" th:value="*{email}" />
    <input type="hidden" name="password" th:value="*{password}" />
</form>

<script>
    function submitForm() {
        document.getElementById("loginForm").submit();
    }
</script>
</body>
</html>
