<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>

    </style>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/logo-icon.png">
    <title>ShiftBet - Register</title>
</head>

<body>
<div
        class="fixed left-0 top-0 z-90 w-full top-[calc(theme(spacing.header-group-offset)-theme(spacing.header-offset))] h-[calc(100vh-theme(spacing.header-group-offset)+theme(spacing.header-offset))]">
    <div class="fixed left-0 w-full bg-surface-dark transition-all duration-500 top-[calc(theme(spacing.header-group-offset)-theme(spacing.header-offset))] h-[calc(100vh-theme(spacing.header-group-offset)+theme(spacing.header-offset))] md:top-0 md:h-screen"
         data-test="modal-authorization-layout">

        <div th:replace="/fragments/header :: header"></div>
        <div class="relative flex h-full w-full lg:mx-auto lg:max-w-1296">
            <div class="h-10 px-2 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-surface-light hover:bg-surface-middle transition-colors border-transparent fill-primary-white text-primary-white !rounded-full absolute right-[5%] top-4 z-30 md:right-8 md:top-8"
                 data-category="Sign Up line" data-action="Close registration" data-test="close-button"><svg
                    viewBox="0 0 24 24"
                    class="shrink-0 order-2 box-border flex items-center justify-center fill-primary-white h-6 w-6">
                <use xlink:href="#close_091148"></use>
            </svg></div>
            <div class="custom-scroll flex h-full w-full flex-col overflow-y-auto overflow-x-hidden md:max-w-[40%]">
                <div class="mx-auto h-auto w-full max-w-[90%] pb-[100px] pt-4 sm:pb-4 md:max-w-[75%] md:py-8">
                    <div class="mt-8 flex flex-col">

                        <p class="text-primary-white typo-xl-1" data-test="registration-modal__title">Sign up</p>
                        <a href="/auth/login" class="mt-4 text-base font-normal text-grey-500">Have an account?<span
                                class="ml-1 text-primary-orange-toxic transition-colors hover:cursor-pointer hover:text-primary-orange-toxic-hover"
                                data-category="Sign Up line" data-action="To login from registration"
                                data-test="registration-modal__to-login">Login</span></a>
                    </div>
                    <div class="flex flex-wrap gap-x-3 gap-y-4 mt-8" id="signin-form-social-desk-1475901664"
                         data-login-data="nocache=1;receiver=https://ggbbbet.net/api/auth/social/login?locale=en&amp;referer=https://ggbbbet.net/en;redirect_uri=%252Fen"
                         data-category="Authorization social network" data-action="Sign In line"
                         data-test="social-buttons"><a href="/auth/google" class="relative flex rounded-default bg-transparent
                         transition hover:before:absolute hover:before:left-0 hover:before:top-0 hover:before:h-full hover:before:w-full hover:before:bg-[#000000]/20">
                        <img src="/images/google-logo.png" alt="Google Logo" class="shrink-0 fill-[#000000]" style="width: 55px; height: 55px;">
                    </a>
                    </div>
                    <form class="mt-8" method="post" th:object="${registrationRequest}"  action="/auth/submitRegister">
                        <p class="text-sm font-normal transition text-grey-500 mb-1">Email:</p>
                        <div class="relative mb-4">
                            <div class="" data-test="base-input">
                                <div class="relative"><input
                                        th:field="*{email}"
                                        class="h-12 w-full rounded-default bg-surface-input text-base outline outline-2 outline-offset-2 outline-transparent hover:text-primary-white focus:text-primary-white inputStyle_autofill__JlkiW pl-4 pr-12  text-grey-500 border-default border-surface-input placeholder:text-grey-500 hover:border-grey-700  focus:border-grey-700"
                                        type="text" data-test="base-input__input" inputmode="text" placeholder=""
                                        value="">
                                    <div class="right-4 absolute top-3 flex"></div>
                                </div>
                            </div>

                        </div>
                        <p class="text-sm font-normal transition text-grey-500 mb-1">Password:</p>
                        <div class="mb-4">
                            <div class="" data-test="base-input">
                                <div class="relative"><input
                                        th:field="*{password}"
                                        class="h-12 w-full rounded-default bg-surface-input text-base outline outline-2 outline-offset-2 outline-transparent hover:text-primary-white focus:text-primary-white inputStyle_autofill__JlkiW pl-4 pr-[80px]  text-grey-500 border-default border-surface-input placeholder:text-grey-500 hover:border-grey-700  focus:border-grey-700"
                                        type="password" data-test="base-input__input" inputmode="text" value="">
                                    <div class="right-4 absolute top-3 flex"></div>
                                </div>
                            </div>
                            <ul class="mt-1 px-2 py-1 transition hidden opacity-0">
                                <li class="flex items-center"><svg viewBox="0 0 24 24"
                                                                   class="shrink-0 shrink-0 transition-colors fill-grey-500 h-4 w-4">
                                    <use xlink:href="#check_e11672"></use>
                                </svg><span class="ml-2 text-sm transition-colors text-grey-500">Password must
                                            contain at least one digit</span></li>
                                <li class="flex items-center"><svg viewBox="0 0 24 24"
                                                                   class="shrink-0 shrink-0 transition-colors fill-grey-500 h-4 w-4">
                                    <use xlink:href="#check_e11672"></use>
                                </svg><span class="ml-2 text-sm transition-colors text-grey-500">Password must
                                            contain at least one letter</span></li>
                                <li class="flex items-center"><svg viewBox="0 0 24 24"
                                                                   class="shrink-0 shrink-0 transition-colors fill-grey-500 h-4 w-4">
                                    <use xlink:href="#check_e11672"></use>
                                </svg><span class="ml-2 text-sm transition-colors text-grey-500">Password must
                                            be at least 6 characters long</span></li>
                            </ul>
                        </div>

                        <button
                            class="h-12 px-3 min-w-fit box-border inline-flex cursor-pointer items-center
                             justify-center rounded-default no-underline shadow-border bg-primary-orange-toxic
                              hover:bg-primary-orange-toxic-hover transition-colors border-transparent
                              fill-primary-white text-primary-white"
                            type="submit"  data-category="Sign Up line" data-action="Registration button"
                            data-test="registration-button registration-button"><span
                            class="truncate typo-sm-2">SIGN UP</span></button>
                        <div class="text-agreement text-xs font-normal text-grey-500 mt-4"
                             data-test="widget-content">By clicking "sign up" button I confirm that I am over 18
                            years of age or such higher minimum legal age for gambling as stipulated in the
                            jurisdiction of my residence, legally capable, am not a gambling addict.I have read,
                            accept and agree to the <a href="/en/terms-and-conditions" target="_blank">Terms and
                                Conditions</a>. I have read and understood the <a href="/en/privacy-policy"
                                                                                  target="_blank">Privacy Policy</a>.</div>
                    </form>
                </div>
            </div>
            <div class="hidden md:block md:h-full md:w-full md:max-w-[60%]"></div>
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>