<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <style>

    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="sticky top-0 z-80" data-test="header"  th:fragment="header">
    <div class="bg-surface-dark flex justify-center" data-test="header__wrapper">
        <div class="mx-auto flex w-[90%] items-center" data-test="header__container">
            <div data-test="header__logo" class="flex-none">
                <div class="flex items-center mr-4" data-category="" data-action="click"
                     data-test="header-logo"><a data-test="header-logo__link" href="/">
                    <img width="185" height="73" fill="none" src="/images/logo.png" alt="logo"></a></div>
            </div>
            <div class="flex h-8 w-full justify-end md:justify-between" data-test="header__content">
                <div class="mr-auto flex transition-all duration-200" data-test="header-betting">
                    <div class="flex" data-test="header-betting__menu">
                        <div data-test="header-betting__menu-item"><a
                                class="no-underline focus-visible:fill-grey-300 focus-visible:text-grey-300 focus-visible:outline-none flex cursor-pointer items-center rounded-default hover:bg-surface-middle active:fill-primary-orange-toxic active:text-primary-orange-toxic fill-primary-orange-toxic text-primary-orange-toxic mr-2 py-1 pr-2 pl-1"
                                data-test="menu-tab-desktop menu-tab-desktop--active header-betting__item"
                                href="/user/activeBets"><svg viewBox="0 0 24 24" class="shrink-0 mr-1 h-6 w-6">
                            <use xlink:href="#bets_6fde88"></use>
                        </svg><span class="ml-1 grow truncate uppercase typo-sm-2"
                                    data-test="menu-tab-desktop__content">Bets</span></a></div>
                        <div  sec:authorize="hasRole('ADMIN')" data-test="header-betting__menu-item"><a
                                class="no-underline focus-visible:fill-grey-300 focus-visible:text-grey-300 focus-visible:outline-none flex cursor-pointer items-center rounded-default hover:bg-surface-middle active:fill-primary-orange-toxic active:text-primary-orange-toxic fill-primary-white text-primary-white mr-2 p-2"
                                data-test="menu-tab-desktop header-betting__item"
                                href="/admin/team/view"><span
                                class="ml-1 grow truncate uppercase typo-sm-2"
                                data-test="menu-tab-desktop__content">Admin</span></a></div>
                    </div>

                </div>
                <div class="flex items-center" data-test="header-controls">
                    <div class="z-2 sm:relative mr-2 hidden md:flex" data-test="locale-switcher">
                        <div class="h-8 px-1 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-surface-dark hover:bg-surface-middle transition-colors border-transparent fill-primary-white text-primary-white active:text-primary-orange-toxic"
                             data-test="locale-switcher__toggle">
                            <div class="flex h-6 w-6 items-center justify-center"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 85.333 512 341.333"
                                    data-flag-country-code="UA" class="w-4" alt="flag">
                                <title>UA</title>
                                <path fill="#FFDA44" d="M0 85.337h512v341.326H0z"></path>
                                <path fill="#338AF3" d="M0 85.337h512V256H0z"></path>
                            </svg></div><svg viewBox="0 0 24 24"
                                             class="shrink-0 transition duration-300 rotate-180 h-6 w-6">
                            <use xlink:href="#branch-more-up_107f56"></use>
                        </svg>
                        </div>

                        <div class="absolute left-1/2 top-8 -translate-x-1/2 bg-surface-dark p-1 shadow-dropdown hidden"
                             data-test="locale-dropdown">
                            <div class="flex max-h-[256px] flex-col overflow-y-auto capitalize transition duration-300 localeDropdown_scroll__wChT4"
                                 data-test="locale-dropdown__list">
                                <div class="flex cursor-pointer items-center rounded-default hover:bg-surface-middle active:fill-primary-orange-toxic active:text-primary-orange-toxic fill-primary-white text-primary-white py-1 pr-2 pl-1"
                                     data-test="menu-tab-desktop locale-dropdown__list-item">
                                    <div class="flex h-6 w-6 min-w-[24px] items-center justify-center"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 85.333 512 341.333" data-flag-country-code="GB"
                                            class="w-4" alt="flag">
                                        <title>GB</title>
                                        <path fill="#FFF" d="M0 85.333h512V426.67H0z"></path>
                                        <path fill="#D80027"
                                              d="M288 85.33h-64v138.666H0v64h224v138.666h64V287.996h224v-64H288z">
                                        </path>
                                        <path
                                                d="M393.785 315.358 512 381.034v-65.676zm-82.133 0L512 426.662v-31.474l-143.693-79.83zm146.982 111.304-146.982-81.664v81.664z"
                                                fill="#0052B4"></path>
                                        <path fill="#FFF"
                                              d="M311.652 315.358 512 426.662v-31.474l-143.693-79.83z">
                                        </path>
                                        <path fill="#D80027"
                                              d="M311.652 315.358 512 426.662v-31.474l-143.693-79.83z">
                                        </path>
                                        <path
                                                d="M90.341 315.356 0 365.546v-50.19zm110.007 14.154v97.151H25.491z"
                                                fill="#0052B4"></path>
                                        <path fill="#D80027"
                                              d="M143.693 315.358 0 395.188v31.474l200.348-111.304z">
                                        </path>
                                        <path
                                                d="M118.215 196.634 0 130.958v65.676zm82.133 0L0 85.33v31.474l143.693 79.83zM53.366 85.33l146.982 81.664V85.33z"
                                                fill="#0052B4"></path>
                                        <path fill="#FFF"
                                              d="M200.348 196.634 0 85.33v31.474l143.693 79.83z"></path>
                                        <path fill="#D80027"
                                              d="M200.348 196.634 0 85.33v31.474l143.693 79.83z"></path>
                                        <path
                                                d="M421.659 196.636 512 146.446v50.19zm-110.007-14.154V85.331h174.857z"
                                                fill="#0052B4"></path>
                                        <path fill="#D80027"
                                              d="M368.307 196.634 512 116.804V85.33L311.652 196.634z">
                                        </path>
                                    </svg></div><span class="ml-1 grow truncate uppercase typo-sm-2"
                                                      data-test="menu-tab-desktop__content">Англійська</span>
                                </div>
                                     </div>
                        </div>
                    </div>
                    <form sec:authorize="!isAnonymous()" method="post" action="/auth/logout">
                        <button  type="submit" class="h-8 px-1 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-surface-dark hover:bg-surface-middle transition-colors border-transparent fill-primary-white text-primary-white active:text-primary-orange-toxic mr-2" data-test="logout">
                            <img alt="logout photo" src="/images/logout.png" class="shrink-0 order-2 box-border flex items-center justify-center fill-primary-white h-6 w-6">

                        </button>
                    </form>
                    <div    sec:authorize="isAnonymous()" class="mr-2 whitespace-nowrap">
                        <div class="h-8 px-2 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-surface-dark hover:bg-surface-middle transition-colors border-transparent fill-primary-white text-primary-white active:text-primary-orange-toxic"
                             data-category="Header line" data-action="Open sign in popup"
                             data-test="header-login"><a href="/auth/login" class="truncate typo-sm-2"

                        >LOGIN</a></div>
                    </div>
                    <div sec:authorize="isAnonymous()" class="h-8 px-2 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-primary-orange-toxic hover:bg-primary-orange-toxic-hover transition-colors border-transparent fill-primary-white text-primary-white"
                         data-category="Header line" data-action="Open sign up popup"
                         data-test="header-register"><a href="/auth/register" class="truncate typo-sm-2">REGISTER</a></div>



                </div>
                <div sec:authorize="!isAnonymous()" class="md:relative mr-2" data-test="header-balance">
                    <div class="flex max-h-8 items-center rounded-default border-default border-surface-light cursor-pointer transition hover:bg-surface-middle px-4 py-2"
                         data-test="header-balance__wrapper">
            <span class="whitespace-nowrap text-primary-white typo-sm-2"
                  data-test="header-balance__total" th:text="${#authentication.principal.balance} + ' USD'">
            </span>
                    </div>
                </div>
                <div onclick="topup()" sec:authorize="!isAnonymous()"  class="h-8 px-2 min-w-fit box-border inline-flex cursor-pointer items-center justify-center rounded-default no-underline shadow-border bg-green-700 hover:bg-green-900 transition-colors border-transparent fill-primary-white text-primary-white hover:fill-grey-300 hover:text-grey-300"
                     data-test="header-deposit">
        <span class="truncate typo-sm-2"><span class="flex items-center" data-test="header-deposit__wrapper">
                <span class="mr-2" data-test="header-deposit__text">DEPOSIT</span>
            <img alt="plus" src="/images/plus.png" class="shrink-0 h-6 w-6">
                    <use xlink:href="#operation-add_3a1d22"></use>
                </img>
            </span>
        </span>
                </div>
            </div>
        </div>
    </div>
</header>
</body>