<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo-icon.png">
    <title>ShiftBet - Active Games</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/admin-header :: admin-header"></div>
<div class="container">
    <h1>Game Information</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Beginning Date</th>
            <th>End Date</th>
            <th>Subcategory</th>
            <th>Actions</th>
            <th>End</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over game entities -->
        <th:block th:each="game : ${games}">
            <tr>
                <td th:text="${game.id}"></td>
                <td th:text="${game.title}"></td>
                <td th:text="${game.team1.name} + ' - ' + ${game.team1Coefficient}"></td>
                <td th:text="${game.team2.name} + ' - ' + ${game.team2Coefficient}"></td>
                <td th:text="${#temporals.format(game.beginningDate, 'dd-MM HH:mm')}"></td>
                <td th:text="${#temporals.format(game.endDate, 'dd-MM HH:mm')}"></td>
                <td th:text="${game.subcategory.name == null ? '' : game.subcategory.name}"></td>
                <td>
                    <a th:href="@{/admin/game/edit/{id}(id=${game.id})}" class="btn btn-primary btn-sm">Edit</a>
                    <a th:href="@{/admin/game/delete/{id}(id=${game.id})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td>

                    <a th:href="@{/admin/game/finish/{id}(id=${game.id})}" class="btn btn-warning btn-sm">End game</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a href="/admin/game/add" class="btn btn-success">Add Game</a>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
