<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subcategories</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/admin-header :: admin-header"></div>
<div class="container">
    <h2>Subcategories</h2>
    <a href="/admin/subcategory/add" class="btn btn-primary mb-3">Add Subcategory</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Parent Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subcategory : ${subcategories}">
            <td th:text="${subcategory.name}"></td>
            <td><img th:src="@{{imageUrl}(imageUrl=${subcategory.imageUrl})}" alt="Image" style="width: auto; max-height: 32px;"></td>
            <td th:text="${subcategory.parentCategory.name}"></td>
            <td>
                <a th:href="@{/admin/subcategory/edit/{id}(id=${subcategory.id})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/admin/subcategory/delete/{id}(id=${subcategory.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
